@import url("https://fonts.googleapis.com/css2?family=Cascadia+Code:ital,wght@0,200..700;1,200..700&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  --vp-c-brand-1: #14b8a6;
  --vp-c-brand-2: #0d9488;
  --vp-c-brand-3: #0f766e;
  --vp-c-brand-soft: rgba(20, 184, 166, 0.14);

  --vp-font-family-base: "Inter", sans-serif;
  --vp-font-family-mono: "Cascadia Code", monospace;
}

.vp-doc h1,
.vp-doc h2,
.vp-doc h3,
.vp-doc h4 {
  font-family: "Plus Jakarta Sans", sans-serif;
}
